.main {
  background-color: rgb(227,178,97);
  text-align: center;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: rebeccapurple;
}

a:hover {
  color: gray;
}

